.song-title, .chart-position, .artist {
  display: inline-block;
  padding-right: 15px;
}

.chart-position{
  padding-right: 20px;
}

.song-title{
  text-align: left;
}

.artist {
  text-align: right;
}

.song-title, .artist {
  font-size: 0.8em;
}

.chart-list {
  list-style: none;
  width: 500px;
}

.chart-entry {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}
