.song-title, .chart-position, .artist {
  display: inline-block;
}

.song-title{
  text-align: left;
}

.chart-list {
  list-style: none;
  width: 500px;
}

.chart-entry {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
